/*.bin
/*.gz
/*.m4
/*.pc
/.DS_Store
/INSTALL
/Makefile
/Makefile.in
/ap_include.am
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/*.mode
/*-*.prob
/.deps
/config.in
/config
