[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
coveralls = "*"
flake8 = "*"
flake8-commas = "*"
flake8-polyfill = "*"
flake8-quotes = "*"
mypy = "*"
pep8-naming = "*"
twine = "*"
