[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
certifi = "*"
chardet = "*"
coverage = "*"
coveralls = "*"
docopt = "*"
flake8 = "*"
flake8-commas = "*"
flake8-polyfill = "*"
flake8-quotes = "*"
idna = "*"
mccabe = "*"
mypy = "*"
pep8-naming = "*"
pycodestyle = "*"
pyflakes = "*"
requests = "*"
typed-ast = "*"
urllib3 = "*"
