[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-commas = "*"
flake8-polyfill = "*"
flake8-quotes = "*"
pep8-naming = "*"
coverage = "*"
coveralls = "*"
mypy = { version = "*", implementation_name = "!= 'pypy'" }
